In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
mouse_dir = os.path.join('data', 'mouse', '')
human_dir = os.path.join('data', 'human', '')

mousefile = os.path.join(mouse_dir, 'MouseExpressionMatrix_voxel_coronal_log2_grouped_imputed.csv')
humanfile = os.path.join(human_dir, 'HumanExpressionMatrix_samples_pipeline_v1.csv')

In [3]:
mouse_tmp = pd.read_csv(mousefile, index_col = 'Gene')
human_tmp = pd.read_csv(humanfile, index_col = 'Gene')

In [4]:
homologs = os.path.join('data', 'MouseHumanGeneHomologs.csv')
homologs = pd.read_csv(homologs)

In [5]:
mouse = mouse_tmp.copy()
human = human_tmp.copy()

In [6]:
mouse.head()

,0,1,2,3,4,5,6,7,8,9,...,63535,63536,63537,63538,63539,63540,63541,63542,63543,63544
Gene,,,,,,,,,,,,,,,,,,,,,
0610007P14Rik,-3.614457,-3.187285,-3.303171,-4.452581,-5.936501,-6.395054,-6.987422,-8.894524,-8.009869,-8.894524,...,1.887770,1.631643,1.220032,0.829360,1.340167,0.952460,0.154041,1.794704,1.711173,1.367272
0610010F05Rik,-2.658850,-1.875052,-1.553286,-1.567142,-1.657850,-2.439809,-4.329135,-4.175686,-2.861505,-2.571668,...,-0.228754,-0.446365,-0.492460,-0.432348,-1.868665,-1.558813,-1.343537,-1.249887,-1.217059,-1.142553
1110007C09Rik,-8.096168,-6.360428,-6.360428,-6.623829,-7.964674,-9.583236,-8.565944,-9.713989,-9.523858,-8.565944,...,-7.531013,-8.089693,-10.172519,-12.296344,-13.903242,-10.704144,-9.227904,-11.555031,-8.827052,-9.348311
1110008P14Rik,-1.361815,-1.699286,-1.514562,-2.919750,-3.433122,-4.071392,-4.465160,-4.465160,-4.349263,-4.483564,...,3.821127,3.534461,2.956183,2.511055,3.311508,3.414957,3.190391,3.669239,3.475471,3.009843
1110037F02Rik,-3.520761,-3.248436,-3.654784,-4.746920,-5.131229,-5.219643,-5.219643,-5.219643,-5.219643,-4.954078,...,0.354635,0.204247,-0.158132,-0.611699,-1.331736,-0.872381,-0.574356,-0.102636,0.150658,0.068425

In [7]:
human.head()

,4077-22-594,4323-11-2985,4323-18-2801,4440-18-2273,4266-17-2785,4267-17-2793,4782-72-2795,4784-69-2787,4788-67-2874,4251-17-2858,...,4329-7-159438945,4308-7-159439119,4379-7-159439103,4367-7-159439087,4360-7-159439071,4342-7-159439039,4785-64-159438991,4783-64-159438975,4782-64-159438959,4782-63-159438943
Gene,,,,,,,,,,,,,,,,,,,,,
61E3.4,13.241217,13.866818,14.024717,13.957972,14.107256,14.983762,12.881184,13.131013,13.427203,12.880171,...,13.074395,12.978943,13.084267,13.117642,13.127226,13.545035,13.667890,13.882591,13.559466,13.649978
A_24_P614148,7.731630,7.999148,7.908282,5.959449,8.104894,8.221196,8.302082,7.256641,8.429102,6.480183,...,7.040956,8.266711,7.466690,7.359367,7.234834,7.909423,7.976029,8.043982,8.334028,7.924756
A1BG,7.016898,8.813481,10.137013,7.375075,7.840406,7.459936,8.579187,9.372120,10.054486,8.146435,...,8.669835,8.534223,8.548122,8.807699,8.883801,8.900822,8.624060,9.309359,9.980388,8.258033
A26C1B,6.252784,6.268146,5.536583,4.381212,4.647915,6.623660,6.110684,4.716342,6.222724,6.290127,...,5.462932,5.256769,5.725680,5.630541,5.618263,5.769746,5.250205,5.887905,6.179774,5.408444
A2BP1,11.613282,12.348363,12.918246,12.455928,13.368702,13.778756,10.281085,9.992890,9.756945,11.775862,...,11.527257,10.125239,11.996107,11.529511,11.680433,11.961247,9.088722,8.953400,10.714021,9.496358

In [8]:
homologs.head()

    Mouse   Human
0   Acadl   ACADL
1  Acadvl  ACADVL
2   Asic2   ASIC2
3     Ace     ACE
4    Ache    ACHE

In [9]:
homologs.shape

(3331, 2)

In [10]:
ind_mouse = homologs['Mouse'].isin(mouse.index)
ind_human = homologs['Human'].isin(human.index)

homologs = homologs.loc[ind_mouse & ind_human]

In [11]:
homologs.shape

(2580, 2)

In [12]:
mouse = mouse.loc[mouse.index.isin(homologs['Mouse'])]
human = human.loc[human.index.isin(homologs['Human'])]

In [13]:
mouse.shape

(2580, 63545)

In [14]:
human.shape

(2580, 3702)

In [15]:
mouse = mouse.sort_index()

In [16]:
mouse

,0,1,2,3,4,5,6,7,8,9,...,63535,63536,63537,63538,63539,63540,63541,63542,63543,63544
Gene,,,,,,,,,,,,,,,,,,,,,
1110008P14Rik,-1.361815,-1.699286,-1.514562,-2.919750,-3.433122,-4.071392,-4.465160,-4.465160,-4.349263,-4.483564,...,3.821127,3.534461,2.956183,2.511055,3.311508,3.414957,3.190391,3.669239,3.475471,3.009843
1190002N15Rik,-12.143410,-11.922512,-11.922512,-12.267046,-12.046147,-11.825248,-11.825248,-11.825248,-11.825248,-11.394442,...,-4.338414,-4.732432,-3.343886,-3.306251,-5.333342,-5.029862,-5.001824,-3.280760,-4.498968,-5.158081
1700037H04Rik,-1.557989,-1.545084,-2.146707,-2.319741,-2.813121,-2.993254,-2.993254,-2.993254,-2.993254,-2.997656,...,0.889760,1.590496,1.831121,1.491106,-1.792709,-1.858699,-2.243310,0.369060,1.170611,2.006181
2010111I01Rik,-7.757098,-6.464477,-5.314961,-4.938504,-5.732065,-6.740361,-7.333668,-7.885692,-10.521058,-9.618878,...,1.132149,1.002892,0.164027,-0.965897,0.993496,1.096024,1.161810,0.830365,0.958659,0.847059
3830406C13Rik,-10.576045,-8.806986,-6.861640,-7.035413,-10.115121,-11.237837,-12.150456,-11.494257,-10.428156,-9.930422,...,-9.994654,-8.366256,-7.277037,-7.829173,-9.443929,-8.478999,-7.355598,-8.965873,-9.029872,-8.345761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zmiz1,-2.117499,-1.835353,-1.629176,-0.860789,1.956757,1.057282,-3.571879,-1.206850,-1.206850,-0.484519,...,2.450400,2.264655,2.061979,2.005797,0.052017,0.033522,-0.395149,0.606228,0.645169,0.442256
Zmym2,-5.585277,-4.986472,-3.218919,-2.582643,-2.676441,-2.871435,-2.871435,-2.871435,-2.871435,-2.742345,...,3.402354,3.237394,2.898948,2.580011,0.162578,0.201681,0.105814,0.800895,0.860338,0.645435
Zmynd11,-1.322167,-1.709010,-1.901008,-2.142409,-2.686148,-2.968649,-2.968649,-2.999933,-3.746967,-3.361477,...,3.782258,3.895727,3.941129,3.806555,2.328714,2.565243,2.339811,2.305157,2.633919,2.832270
Zswim6,-7.690866,-7.931352,-7.957397,-6.445479,-7.510139,-7.751500,-7.870747,-7.870747,-8.015961,-7.607062,...,-2.233867,-2.688267,-3.056778,-3.703159,-3.307145,-2.985041,-3.285437,-2.464437,-2.375751,-2.781415
Zyx,-0.714580,1.405165,1.775756,0.855300,-1.142601,-3.597116,-6.056714,-4.965951,-4.557637,-5.575980,...,0.952772,0.465835,0.077161,-0.151687,-0.217073,0.029573,-0.199158,-0.391863,-0.670391,-0.638274

In [17]:
homologs = homologs.sort_values(by = 'Mouse')

In [18]:
homologs.head()

              Mouse     Human
2138  1110008P14Rik   C9orf16
1949  1190002N15Rik   C3orf58
1837  1700037H04Rik  C20orf27
2077  2010111I01Rik    C9orf3
2798  3830406C13Rik   C3orf14

In [19]:
mouse.index = homologs['Human']
mouse.index.name = 'Gene'

In [20]:
mouse = mouse.sort_index()

In [21]:
human = human.sort_index()

In [22]:
mouse.head()

,0,1,2,3,4,5,6,7,8,9,...,63535,63536,63537,63538,63539,63540,63541,63542,63543,63544
Gene,,,,,,,,,,,,,,,,,,,,,
A4GALT,-7.304227,-5.242730,-4.396126,-5.992682,-6.285592,-6.613449,-6.613449,-6.613449,-6.613449,-6.515939,...,-2.517941,-3.059650,-3.065532,-2.538245,-7.115505,-8.647230,-8.848865,-5.787082,-4.769907,-5.723703
AACS,-1.574907,-1.551866,-1.218111,-0.992175,-1.277348,-1.143879,-2.127690,-2.417830,-1.928862,-1.757908,...,-0.000635,0.157704,0.166066,-0.231667,0.019722,-0.062791,-0.403978,-1.000618,-0.726637,-0.867053
AARS,1.570280,1.570280,2.385782,1.751633,0.849431,-0.407413,-0.559157,-0.221232,-1.271625,-1.227099,...,4.158181,3.971928,3.685371,3.455747,3.466977,3.573314,3.336934,3.569084,3.569285,3.333771
ABAT,-2.443316,-1.373526,-0.575633,-1.668375,-2.692767,-2.980105,-2.980105,-2.980105,-3.389989,-3.213639,...,2.294028,2.119403,1.936018,1.763663,2.241984,2.172578,1.632681,2.043060,1.678715,1.491613
ABCB10,-9.041133,-10.000779,-9.179084,-11.914208,-11.591187,-11.386653,-11.268166,-12.760737,-11.591187,-11.591187,...,-10.138192,-9.914740,-6.072341,-3.149759,-3.145957,-5.008607,-7.629594,-8.470160,-10.402711,-11.145631

In [23]:
human.head()

,4077-22-594,4323-11-2985,4323-18-2801,4440-18-2273,4266-17-2785,4267-17-2793,4782-72-2795,4784-69-2787,4788-67-2874,4251-17-2858,...,4329-7-159438945,4308-7-159439119,4379-7-159439103,4367-7-159439087,4360-7-159439071,4342-7-159439039,4785-64-159438991,4783-64-159438975,4782-64-159438959,4782-63-159438943
Gene,,,,,,,,,,,,,,,,,,,,,
A4GALT,3.735214,5.651916,7.038923,3.128181,6.361316,2.486842,5.196953,5.623674,5.876260,4.292436,...,4.603873,3.767696,3.787069,4.469129,4.160751,4.950678,4.422877,5.169613,5.194448,5.575027
AACS,8.268210,8.069711,7.206384,4.478832,4.834575,6.796854,7.296733,6.360560,7.067254,7.181757,...,7.192024,7.389753,8.705474,7.822519,7.196914,8.596155,7.282719,7.453159,7.888471,7.463698
AARS,7.308317,8.820143,8.752692,7.745903,8.809233,7.861621,8.308171,7.473308,8.746214,7.266267,...,6.878288,7.716787,7.358914,7.301366,7.307386,7.462908,7.712656,7.332259,8.422982,8.248780
ABAT,10.174425,9.848076,10.418295,10.466967,10.278999,8.771589,10.618264,10.419831,10.435667,9.559703,...,10.063206,10.098688,9.752984,10.239251,10.274685,10.129797,10.618859,10.276389,10.908038,10.838623
ABCB10,6.061918,6.960359,7.169477,7.488121,7.235522,6.566860,7.092391,6.928380,6.928892,5.864294,...,6.030113,6.696269,6.106145,5.951504,6.055776,6.214062,7.020405,6.604451,7.123852,6.762180

In [25]:
def intersect_gene_homologs(mouse, human, homologs):
    
    """ 
    """
    
    ind_mouse = homologs['Mouse'].isin(mouse.index)
    ind_human = homologs['Human'].isin(human.index)
    homologs = homologs.loc[ind_mouse & ind_human]
    
    mouse = mouse.loc[mouse.index.isin(homologs['Mouse'])]
    human = human.loc[human.index.isin(homologs['Human'])]
    
    mouse = mouse.sort_index()
    homologs = homologs.sort_values(by = 'Mouse')
    mouse.index = homologs['Human']
    mouse.index.name = 'Gene'
    
    mouse = mouse.sort_index()
    human = human.sort_index()
    
    return mouse, human

In [26]:
homologs = os.path.join('data', 'MouseHumanGeneHomologs.csv')
homologs = pd.read_csv(homologs)

In [28]:
mouse = mouse_tmp.copy()
human = human_tmp.copy()

In [31]:
mouse_new, human_new = intersect_gene_homologs(mouse = mouse,
                                               human = human,
                                               homologs = homologs)

In [32]:
mouse_new.shape

(2580, 63545)

In [33]:
human_new.shape

(2580, 3702)

In [34]:
mouse_new.head()

,0,1,2,3,4,5,6,7,8,9,...,63535,63536,63537,63538,63539,63540,63541,63542,63543,63544
Gene,,,,,,,,,,,,,,,,,,,,,
A4GALT,-7.304227,-5.242730,-4.396126,-5.992682,-6.285592,-6.613449,-6.613449,-6.613449,-6.613449,-6.515939,...,-2.517941,-3.059650,-3.065532,-2.538245,-7.115505,-8.647230,-8.848865,-5.787082,-4.769907,-5.723703
AACS,-1.574907,-1.551866,-1.218111,-0.992175,-1.277348,-1.143879,-2.127690,-2.417830,-1.928862,-1.757908,...,-0.000635,0.157704,0.166066,-0.231667,0.019722,-0.062791,-0.403978,-1.000618,-0.726637,-0.867053
AARS,1.570280,1.570280,2.385782,1.751633,0.849431,-0.407413,-0.559157,-0.221232,-1.271625,-1.227099,...,4.158181,3.971928,3.685371,3.455747,3.466977,3.573314,3.336934,3.569084,3.569285,3.333771
ABAT,-2.443316,-1.373526,-0.575633,-1.668375,-2.692767,-2.980105,-2.980105,-2.980105,-3.389989,-3.213639,...,2.294028,2.119403,1.936018,1.763663,2.241984,2.172578,1.632681,2.043060,1.678715,1.491613
ABCB10,-9.041133,-10.000779,-9.179084,-11.914208,-11.591187,-11.386653,-11.268166,-12.760737,-11.591187,-11.591187,...,-10.138192,-9.914740,-6.072341,-3.149759,-3.145957,-5.008607,-7.629594,-8.470160,-10.402711,-11.145631

In [35]:
human_new.head()

,4077-22-594,4323-11-2985,4323-18-2801,4440-18-2273,4266-17-2785,4267-17-2793,4782-72-2795,4784-69-2787,4788-67-2874,4251-17-2858,...,4329-7-159438945,4308-7-159439119,4379-7-159439103,4367-7-159439087,4360-7-159439071,4342-7-159439039,4785-64-159438991,4783-64-159438975,4782-64-159438959,4782-63-159438943
Gene,,,,,,,,,,,,,,,,,,,,,
A4GALT,3.735214,5.651916,7.038923,3.128181,6.361316,2.486842,5.196953,5.623674,5.876260,4.292436,...,4.603873,3.767696,3.787069,4.469129,4.160751,4.950678,4.422877,5.169613,5.194448,5.575027
AACS,8.268210,8.069711,7.206384,4.478832,4.834575,6.796854,7.296733,6.360560,7.067254,7.181757,...,7.192024,7.389753,8.705474,7.822519,7.196914,8.596155,7.282719,7.453159,7.888471,7.463698
AARS,7.308317,8.820143,8.752692,7.745903,8.809233,7.861621,8.308171,7.473308,8.746214,7.266267,...,6.878288,7.716787,7.358914,7.301366,7.307386,7.462908,7.712656,7.332259,8.422982,8.248780
ABAT,10.174425,9.848076,10.418295,10.466967,10.278999,8.771589,10.618264,10.419831,10.435667,9.559703,...,10.063206,10.098688,9.752984,10.239251,10.274685,10.129797,10.618859,10.276389,10.908038,10.838623
ABCB10,6.061918,6.960359,7.169477,7.488121,7.235522,6.566860,7.092391,6.928380,6.928892,5.864294,...,6.030113,6.696269,6.106145,5.951504,6.055776,6.214062,7.020405,6.604451,7.123852,6.762180

In [38]:
from re import sub

In [39]:
file = os.path.basename(mousefile)

In [42]:
sub('.csv', '_homologs.csv', file)

'MouseExpressionMatrix_voxel_coronal_log2_grouped_imputed_homologs.csv'