In [15]:
import os
import pandas as pd

In [7]:
PROJECTPATH = os.getenv('PROJECTPATH')

In [14]:
params_id = 700

registration_dir = 'data/human/registration/v3/'
pipeline_dir = 'data/human/derivatives/v3/'

registration_dir = os.path.join(PROJECTPATH, registration_dir)
pipeline_dir = os.path.join(PROJECTPATH, pipeline_dir, str(params_id))

cluster_dir = os.path.join(pipeline_dir, 'clusters', 'resolution_3.0')
cluster_file = os.path.join(cluster_dir, 'clusters.csv')

cluster_file

'/projects/abeauchamp/Projects/MouseHumanMapping/Paper_ClusteringAutism/main/data/human/derivatives/v3/700/clusters/resolution_3.0/clusters.csv'

In [16]:
clusters = pd.read_csv(cluster_file)
clusters

,ID,nk2,nk3,nk4,nk5,nk6,nk7,nk8,nk9,nk10
0,d8_0001_04.denoise_fwhm_2mm.mnc,1,1,1,1,1,1,1,1,1
1,d8_0002_03.denoise_fwhm_2mm.mnc,2,3,2,2,6,7,4,5,6
2,d8_0003_02.denoise_fwhm_2mm.mnc,1,1,1,1,1,1,1,1,1
3,d8_0004_01.denoise_fwhm_2mm.mnc,1,2,4,4,4,5,2,7,2
4,d8_0005_02.denoise_fwhm_2mm.mnc,2,3,2,3,5,6,5,3,5
...,...,...,...,...,...,...,...,...,...,...
705,sub-3940447_ses-01_T1w.denoise_fwhm_2mm.mnc,2,2,4,4,4,5,2,7,10
706,sub-3940452_ses-01_T1w.denoise_fwhm_2mm.mnc,1,1,1,1,1,1,1,1,1
707,sub-3940457_ses-01_T1w.denoise_fwhm_2mm.mnc,1,1,1,1,1,1,1,1,1
708,sub-3940459_ses-01_T1w.denoise_fwhm_2mm.mnc,2,2,3,5,2,4,7,4,4
709,sub-3940465_ses-01_T1w.denoise_fwhm_2mm.mnc,1,1,1,1,1,5,2,7,2